@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
$web-font: 'Roboto', sans-serif;

// splash-title
$splash-title_size: 2rem;
$splash-title_font: $web-font;
$splash-title_color: #FFF;
$splash-title_shadow-color: #555;

// about-me-section
$about-me-section_bgcolor: #FFF; // $about-me_bgcolor: #194266;


// about-me
$about-me-title_font: $web-font;
$about-me-title_color: #2A3044;
$about-me-title_size: 2rem;

// about-me-paragraph
$about-me-paragraph_font: $about-me-title_font;
$about-me-paragraph_color: $about-me-title_color;
$about-me-paragraph_size: 1rem;

// portfolio-section
$portfolio-section_bgcolor: #DDD;

// portfolio-title
$portfolio-title_font: $web-font;
$portfolio-title_color: #2A3044;
$portfolio-title_size: 2rem;

// project-title
$project-title_font: $web-font;
$project-title_color: #2A3044;
$project-title_size: 2rem;

// project-desc
$project-desc_font: $web-font;
$project-desc_color: lighten(#2A3044, 15%);
$project-desc_size: 1rem;

// media query size variables
$tablet-width: 768px;
$desktop-width: 1024px;

// media query mixins
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}


@mixin flex-box($direction, $justify: center, $align-items: center, $align-content: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align-items;
	align-content: $align-content;
}

@mixin text-format($size: inherit, $color: inherit, $font: inherit) {
	font: {
		size: $size;
		family: $font;
	}
	color: $color;
}