
@import url('https://fonts.googleapis.com/css?family=Roboto');
$web-font: 'Roboto', sans-serif;

// splash-title
$splash-title_size: 5.5rem;
$splash-title_font: $web-font;
$splash-title_color: #FFF;
$splash-title_shadow-color: #555;

// splash-subtitle
$splash-subtitle_size: 4rem;
$splash-subtitle_font: $splash-title_font;
$splash-subtitle_color: $splash-title_color;

// about-me-section
$about-me-section_bgcolor: #FFF; // $about-me_bgcolor: #194266;


// about-me
$about-me_font: $web-font;
$about-me_color: #000;
$about-me_size: 6rem;

// about-me-paragraph
$about-me-paragraph_font: $about-me_font;
$about-me-paragraph_color: $about-me_color;
$about-me-paragraph_size: 3rem;

// media query size variables
$tablet-width: 768px;
$desktop-width: 1024px;

// media query mixins
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}


@mixin flex-box($direction, $justify: center, $align-items: center, $align-content: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align-items;
	align-content: $align-content;
}


// include height for 100vh and width for 100vw
@mixin fill-viewport($dimensions...) {
	@each $dimension in $dimensions {
		@if $dimension == height {
			height: 100vh;
		}
		@if $dimension == width {
			width: 100vw;
		}
	}
}


@mixin text-format($size: inherit, $color: inherit, $font: inherit) {
	font-size: $size;
	color: $color;
	font-family: $font;
}