@import "utilities/variables";

@import "app/components/image-header/image-header";

@import "app/components/section/section";


body, html{
	margin: 0px;
	max-width: 100%;
	overflow-x: hidden;
}
.app{
	margin: 0px;
}