
.image-header {
	height: 85vh;
	@include flex-box(column);
	overflow-y: hidden;
	&_image {
		background-size: cover;
		background-position: center;
		position: fixed;
		top: -5px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		@include desktop {
		}
	}
	&_content {
		width: 90vw;
		margin: 0;
		@include desktop {
	}
	}
}
