
.image-header {
	&_image {
		@include fill-viewport(height, width);
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		filter: blur(4px);
		@include desktop {
			filter: blur(3px);
		}
	}
	&_content {
		@include flex-box(column);
		@include fill-viewport(height);
		margin: 0;
	}
}
