.page-section {
	@include flex-box(column);
	@include fill-viewport(width);
	height: 80vh;
	@include desktop {
		height: 50vh;
	}
	&-content {
		// @include flex-box(column, $justify: flex-start);
		width: 80%;
	}
}


.page-text {
	margin: 0;
}